.product-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    background-color: #535bf2;
    width: 50rem;
    font-size: x-large;
}

.product-card h2 {
    margin-top: 0;
}

.product-card p {
    margin: 10px 0;
}

.product-card img {
    display: block;
    margin-top: 10px;
}
